{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% include "django/forms/widgets/input.html" %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/form.css' %}" media="screen" />
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a class="breadcrumb-item" href="{% url 'home' %}" > Αρχική</a></li>
        <li class="breadcrumb-item active p0" aria-current="page"> <a class="breadcrumb-item active" href="{% url 'profile' %}" > Προφίλ</a></li>
    </ol>
</nav>


<div>
  {% if user.user_type == 'student' %}
    <div>
      {{ user.student }}
  {% endif %}
      <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
  </div>


{% endblock %}
