{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/form.css' %}" media="screen" />
{% endblock %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a class="breadcrumb-item" href="{% url 'home' %}" > Αρχική</a></li>
        <li class="breadcrumb-item active p0" aria-current="page"> <a class="breadcrumb-item active" href="{% url 'search' %}" > Αναζήτηση</a></li>
    </ol>
</nav>


{% endblock %}
